
        <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="form-group required">
                <label>Username</label>
                <input class="form-control" formControlName="UserName">
                <label class="text-danger" *ngIf="service.formModel.get('UserName')?.touched && service.formModel.get('UserName')?.errors?.required"><em>This field is required.</em></label>
            </div>
            <div class="form-group required">
                <label>Email</label>
                <input class="form-control" formControlName="Email">
                <label class="text-danger" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.required"><em>This field is required.</em></label>
                <label class="text-danger" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.email"><em>Invalid email address.</em></label>
            </div>
            <div class="form-group required">
                <label>Fullname</label>
                <input class="form-control" formControlName="FullName">
                <label class="text-danger" *ngIf="service.formModel.get('FullName')?.touched && service.formModel.get('FullName')?.errors?.required"><em>This field is required.</em></label>
            </div>
            <div formGroupName="Passwords">
                <div class="form-group required">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="Password">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.required"><em>This field is required.</em></label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.minlength"><em>Minimum 8 character are required.</em></label>
                </div>
                <div class="form-group required">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.required"><em>This field is required.</em></label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch"><em>Confirm Password does not match.</em></label>
                </div>
            </div>
            <p id="mandatory"><em>Fields mark as * are mandatory.</em></p>
            <div class="form-row">
                <div id="rad" class="form-group col-md-8 offset-md-4" style="height: 60px">
                    <button type="submit" class="btn btn-info btn-outline-dark btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
                </div>
            </div>
        </form>
  