<div class="container padding-bottom-3x mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address and user name below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will verify the same.</li>
                    <li><span class="text-primary text-medium">3. </span>After vertication, enter the new password in the dialogue box.</li>
                </ol>
            </div>
            <form #form='ngForm' class="card mt-4" (submit)="forgotPassword(form)">
                <div class="card-body">
                    <div class="form-group"> 
                        <label>Enter your email address</label> 
                        <input class="form-control" #Email="ngModel" name="Email" [(ngModel)]="resetModel.Email" required>
                    </div>
                    <div class="form-group"> 
                        <label>Enter your username</label> 
                        <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="resetModel.UserName" required>
                    </div>
                </div>
                <div class="card-footer"> 
                    <button class="btn btn-success btn-block" type="submit" [disabled]="form.invalid">Generate New Password</button> 
                    <button class="btn btn-danger" style="margin-left: 10px;" (click)="toLogin()">Back to Login</button> 
                </div>
            </form>
        </div>
    </div>
</div>